.description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__inputs {
    flex-basis: 48%;

    &--full-width {
      width: 100%;
    }
  }

  &__image {
    flex-basis: 50%;
    align-content: center;

    &--preview{
      margin: 0 auto;
    }

    &--load{
      margin: 0 auto;
      display: block;
      width: 400px;
    }
  }

  &__action-tables {
    width: 100%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


    &--grade {
      flex-basis: 49%;
    }
    &--variety {
      align-content: center;
      flex-basis: 49%;
    }
  }
}
