<h2>Descripción</h2>
<div class="description">

  <section id="description" class="description__inputs">
    <form [formGroup]="form">
      <mat-form-field class="description__inputs--full-width">
        <mat-label>id</mat-label>
        <input type="email" matInput formControlName="id" placeholder="ID">
      </mat-form-field>
      <br>
      <mat-form-field class="description__inputs--full-width">
        <mat-label>Nombre</mat-label>
        <input type="email" matInput formControlName="name" placeholder="Nombre">
      </mat-form-field>
      <br>
      <mat-form-field class="description__inputs--full-width">
        <mat-label>Especie</mat-label>
        <input type="email" matInput formControlName="specie" placeholder="Especie">
      </mat-form-field>
      <br>
    </form>
  </section>

  <section id="load-image" class="description__image">
    <div style="width: 400px; height: 400px; background: indianred" class="description__image--preview">
      <img style="width: 400px; height: 400px;" [src]="previewUrl" *ngIf="previewUrl!==''" alt="previsualizar imagen">
    </div>
      <input #inputLoadFile type="file" style="display: none" accept="image/png,image/jpg,image/jpeg" (change)="updatePreview($event)">
    <br>
    <button mat-raised-button color="primary" class="description__image--load" (click)="loadFile()">
      Cargar una imagen
    </button>
  </section>

  <section id="tables" class="description__action-tables">
    <div id="variety" class="description__action-tables--variety">
      <app-action-table
        [itemList]="[{id: '1', name: 'Tulipan', variety: 'pepestepeles gigantus', action: ''}]"
        [allowAddItems]="true"
        (idEmitter)="removeItemList($event)"
        (addItem)="openDialog(dialogTypes.Variety)"
      />
    </div>
    <div id="grade" class="description__action-tables--grade">
      <app-action-table
        [itemList]="[{id: '1', grade: 'Grado 1', action: ''}]"
        [allowAddItems]="true"
        (idEmitter)="removeItemList($event)"
        (addItem)="openDialog(dialogTypes.Grade)"
      />
    </div>

  </section>

  <section id="save" class="description__save">
    <button [disabled]="!this.form.valid" class="add-button" mat-raised-button color="primary">
      Guardar
    </button>
  </section>
</div>
